*, *::before, *::after {
  box-sizing: border-box;
}

.serie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
  &>:not(:last-child){
    margin-bottom: .3em;
  }
}

.ticket {
  font-family: Courier New, Courier, monospace;
  font-size: .8rem;
  line-height: 1.5;
  background-color:olivedrab;
  display: grid;
  grid-template-columns: repeat(9,1.6em);
  grid-template-rows: repeat(3, 1.5em);
  grid-gap: .1em;
  padding: .2em;
  border: .05em solid #000;
  border-radius: .2em;
  &__number {
    position: relative;
    z-index: 100;
    text-align: center;
    border-radius: 15%; 
    background-color: #fff;
    cursor: pointer;
    &.-is-empty{
      background-color: #333333;
      cursor: initial; 
    }
    &.-is-marked{
      position: relative;
      background-color: #3366cc;
      color: snow; 
      z-index: 200;
      animation: .75s ease-in-out reverse button-marked
    }
  }  
}
@keyframes button-marked {
  to {
    transform: scale(2.0);
  }
}
